/* Bluepaper css base file */

html, body {
    background-color: rgba(23, 23, 29, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

nav {
    margin-top: 7px;
}

.navbar, .navbar-item, .button {
    background-color: transparent;
    color: #FFFFFF;
}

nav h1 {
    font-size: 2.375rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 39px;
}

.navbar-item a {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 100px;
}

.target {
    font-size: 5.375rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 100px;
    padding-top: 85px;
    padding-bottom: 30px;
}

.desc {
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: condensed;
    letter-spacing: 0.03em;
    line-height: 27px;
    padding-bottom: 70px;
}

.desc p {
    display: inline-block;
    width: 50%;
}

.subscribe p {
    font-size: 18px;
    font-weight: 100;
    line-height: 38px;
}

.subscribe a {
    font-size: 26px;
    font-weight: 400;
    padding: 16px 93px;
}

.subscribe {
    padding-bottom: 90px;
}

a :focus {
    cursor: pointer;
    color: #00bfff;
}

a :hover {
    cursor: pointer;
    color: #00bfff;
}

.container {
    min-height: calc(100vh - 70px);
  }

  .footer {
      background-color: transparent;
    padding: 0;
  }

/* Media Queries for various screens */

@media screen and (max-width: 480px) { 
    nav h1 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.03em;
        line-height: 39px;
    }

    .target {
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 0.01em;
        line-height: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .desc {
        font-size: 18px;
        font-weight: normal;
        font-stretch: condensed;
        letter-spacing: 0.06em;
        line-height: 27px;
        padding-bottom: 30px;
    }
    
    .desc p {
        display: inline-block;
        width: 95%;
    }

    .subscribe a {
        font-size: 26px;
        font-weight: 400;
        padding: 16px 60px;
    }
    
    .subscribe {
        padding-bottom: 70px;
    }
}

@media screen 
and (min-width: 480px)
and (max-width: 780px) {
    nav h1 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.03em;
        line-height: 39px;
    }

    .target {
        font-size: 66px;
        font-weight: bold;
        letter-spacing: 0.01em;
        line-height: 85px;
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .desc {
        font-size: 20px;
        font-weight: normal;
        font-stretch: condensed;
        letter-spacing: 0.06em;
        line-height: 35px;
        padding-bottom: 40px;
    }
    
    .desc p {
        display: inline-block;
        width: 77%;
    }

    .subscribe a {
        font-size: 26px;
        font-weight: 400;
        padding: 16px 93px;
    }
    
    .subscribe {
        padding-bottom: 50px;
    }
}

/* @media screen and (max-width: 1020px) {

} */